version: '3.8'

services:
  mongodb:
    image: mongo:latest
    restart: always
    container_name: mongo
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
      - MONGO_INITDB_DATABASE=gouser
    volumes:
      - ./mongo-init/mongo-init.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
      - mongo-data:/data/db

volumes:
  mongo-data: